Erstellen Sie das Jupyter-Notebook „00-WarmingUp“ und laden Sie das referenzierte Movie-Dataset. Über welche Dimensionalität verfügt das Movie-Dataset bzw. das erstellte DataFrame?")csv")

In [2]:
import pandas as pd

movies = pd.read_csv("movie.csv", encoding="utf-8", low_memory=False)
movies.shape  # (Zeilen, Spalten)

(4916, 28)

In [ ]:
Generieren Sie die gezeigte JN-Ausgabe (die vielen Fragezeichen in der Beispielausgabe können ignoriert werden).

In [4]:
from io import StringIO

# Erste 10 Zeilen zeigen
display(movies.head(10))

# Kompakte Übersicht über Dtypes / Non-Null-Anzahlen
buf = StringIO()
movies.info(buf=buf)
print(buf.getvalue())

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [ ]:
Zeigen Sie, dass die Selektion einer einzelnen Spalte eine pandas.Series liefert (z. B. movie_title).

In [6]:
col = "movie_title" if "movie_title" in movies.columns else movies.columns[0]
type(movies[col])  # sollte <class 'pandas.core.series.Series'> sein

pandas.core.series.Series

In [ ]:
Fügen Sie die Spalte has_seen mit dem Initialwert 0 hinzu.

In [8]:
movies["has_seen"] = 0
movies["has_seen"].head()

0    0
1    0
2    0
3    0
4    0
Name: has_seen, dtype: int64

In [ ]:
a) Erzeugen Sie die Spalte director_actor_facebook_likes als Summe aus
director_facebook_likes, actor_1_facebook_likes, actor_2_facebook_likes, actor_3_facebook_likes.
b) Erklären Sie, warum NaN-Werte entstehen.
c) Ermitteln Sie, wie viele Einträge betroffen sind.
d) Beheben Sie das Problem, indem Sie die betroffenen Felder auf 0 setzen und die Summe neu berechnen.

In [10]:
like_cols = [
    "director_facebook_likes",
    "actor_1_facebook_likes",
    "actor_2_facebook_likes",
    "actor_3_facebook_likes",
]
present = [c for c in like_cols if c in movies.columns]

# a) Naive Summe (NaN propagiert, wenn Werte fehlen)
movies["director_actor_facebook_likes"] = movies[present].sum(axis=1, min_count=len(present))

# b) Ursache: Mindestens eine der beteiligten Spalten enthält NaN -> Zeilensumme wird NaN
# c) Anzahl betroffener Einträge:
movies["director_actor_facebook_likes"].isna().sum()

# d) Fehlende Werte der Basis-Spalten als 0 interpretieren und neu summieren
for c in present:
    movies[c] = pd.to_numeric(movies[c], errors="coerce").fillna(0)

movies["director_actor_facebook_likes"] = movies[present].sum(axis=1)
movies["director_actor_facebook_likes"].isna().sum()  # sollte nun 0 sein

0

In [ ]:
Ist ein Film mit Budget = 22 Mio. „kostspielig“? Wie könnte man das herausfinden?

In [12]:
import numpy as np

budget_col = "budget" if "budget" in movies.columns else [c for c in movies.columns if "budget" in c.lower()][0]
budgets = pd.to_numeric(movies[budget_col], errors="coerce").dropna()

summary = budgets.describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95])
value = 22_000_000

# Empirisches Perzentil von 22 Mio.
percentile = (budgets <= value).mean() * 100

# Einfache Regel: > 75. Perzentil ⇒ „kostspielig“
is_costly = value > summary["75%"]

print(summary)
print(f"\n22 Mio. ≙ ca. {percentile:.1f}. Perzentil")
print("Einschätzung:", "kostspielig" if is_costly else "nicht kostspielig")

count    4.432000e+03
mean     3.654749e+07
std      1.002427e+08
min      2.180000e+02
25%      6.000000e+06
50%      1.985000e+07
75%      4.300000e+07
90%      8.000000e+07
95%      1.250000e+08
max      4.200000e+09
Name: budget, dtype: float64

22 Mio. ≙ ca. 55.3. Perzentil
Einschätzung: nicht kostspielig

In [ ]:
SMS-Spam-Dataset (5574 Nachrichten, „spam“ oder „ham“).
a) Laden Sie den Datensatz (Plain text).
b) Fügen Sie eine Spalte hinzu, die die Gesamtlänge der Nachricht angibt.

In [14]:
import pandas as pd

# robustes Laden (Encoding-Fallback)
try:
    spam = pd.read_csv("spam.csv", encoding="utf-8", low_memory=False)
except UnicodeDecodeError:
    spam = pd.read_csv("spam.csv", encoding="latin-1", low_memory=False)

# Textspalte robust finden (UCI-Format nutzt oft 'v2' für den Nachrichtentext)
text_col = None
for candidate in ["message", "v2", "text", "sms"]:
    if candidate in spam.columns:
        text_col = candidate
        break
if text_col is None:
    text_col = spam.columns[1] if len(spam.columns) >= 2 else spam.columns[0]

# b) Länge der Nachricht
spam["text_length"] = spam[text_col].astype(str).str.len()

# Stichprobe anzeigen
spam[[text_col, "text_length"]].head(10)

                                                  v2  text_length
0  Go until jurong point, crazy.. Available only ...          111
1                      Ok lar... Joking wif u oni...           29
2  Free entry in 2 a wkly comp to win FA Cup fina...          155
3  U dun say so early hor... U c already then say...           49
4  Nah I don't think he goes to usf, he lives aro...           61
5  FreeMsg Hey there darling it's been 3 week's n...          148
6  Even my brother is not like to speak with me. ...           77
7  As per your request 'Melle Melle (Oru Minnamin...          160
8  WINNER!! As a valued network customer you have...          158
9  Had your mobile 11 months or more? U R entitle...          154