# Pandas Exercises 1
Arbeiten Sie nachfolgenden Aufgabenstellungen durch und dokumentieren Sie, wenn notwendig, ihre Erkenntnisse. 


Importieren Sie *pandas*.

In [ ]:
import pandas as pd

## Task 1
Erstellen Sie mit `data` ein *Series*-Objekt und geben Sie dessen Werte sowie Indizes aus. Zeigen Sie außerdem, dass
- das erstellte Objekt vom Typ *Series* und
- die Werte vom Typ *numpy*
sind.

In [1]:
data = [11, 28, 72, 3, 5, 8]

## Task 2
Erstellen Sie mit `quantities` eine *Series*. Verwenden Sie hierbei `fruits` als Indizes. Gesuchtes Ergebnis:

```python
apples      20
oranges     23
cherries    45
pears       10
dtype: int64
```

In [2]:
fruits = ['apples', 'oranges', 'cherries', 'pears']
quantities = [20, 23, 45, 10]

## Task 3
Man kann zwei *Series*-Objekte (mit denselben Indizes) addieren. Das Ergebnis ist ein neues *Series*-Objekt. Addieren sie die Quantities `q1` und `q2`. Bilden Sie außerdem die Summe der beiden *Series*-Objekte. Gesuchtes Ergebnis:

```python
apples      30
oranges     36
cherries    70
pears       11
dtype: int64
Summe: 147
```

In [3]:
fruits = ['apples', 'oranges', 'cherries', 'pears']

q1 = [20, 23, 45, 10]
q2 = [10, 13, 25, 1]

## Task 4
Index-basierter Zugriff erfolgt mit (zwei) eckigen Klammern (z.B. `my_series['foo']` oder `my_series[['foo', 'bar']]`) Geben Sie a) die Anzahl der *Äpfel* aus. Geben Sie b) die Anzahl der *Äpfel*, *Orangen* und *Kirschen* aus.

In [4]:
fruits = ['apples', 'oranges', 'cherries', 'pears']
quantities = [20, 23, 45, 10]

## Task 5
Ein Problem bei Aufgaben in der Datenanalyse besteht in fehlenden Daten. Gegeben ist das Dictionary `cities`, das für ausgewählte Städte die Einwohnerzahl bereithält. a) Erstellen Sie daraus eine *Series* und geben Sie dieses aus.

In [5]:
cities = {
    'London': 8615246,
    'Berlin': 3562166,
    'Madrid': 3165235,
    'Rome': 2874038,
    'Paris': 2273305,
    'Vienna': 1805681,
    'Bucharest': 1803425,
    'Hamburg': 1760433,
    'Budapest': 1754000,
    'Warsaw': 1740119,
    'Barcelona': 1602386,
    'Munich': 1493900,
    'Milan': 1350690
}

Erstellen Sie b) zwei weitere *Series*-Objekte, die aber mit `my_cities1` und `my_cities2` neue Indizes verwenden. Wie intrepretieren Sie das Ergebnis, was fällt Ihnen auf?

In [6]:
my_cities1 = ['London', 'Paris', 'Zurich', 'Berlin', 'Stuttgart', 'Hamburg']
my_cities2 = ['London', 'Paris', 'Berlin', 'Hamburg']

`nan`steht für *not a number*, was als "fehlt" zu verstehen ist. Mit den Methoden `isnull`und `notnull` kann man auf fehlende Werte überprüfen. Führen Sie c) diese Überprüfung durch, sodass folgendes Ergebnis zu Buche steht:

```Python
London       False
Paris        False
Zurich        True
Berlin       False
Stuttgart     True
Hamburg      False
dtype: bool
```

Filtern Sie d) die fehlende Werte mit `dropna()`. Gesuchtes Ergebnis:
```python
London     8615246.0
Paris      2273305.0
Berlin     3562166.0
Hamburg    1760433.0
dtype: float64
```

In [ ]:
import pandas as pd
data = pd.Series({
    "London": 8615246,
    "Paris": 2273305,
    "Berlin": 3562166,
    "Madrid": None,
    "Rome": None,
    "Hamburg": 1760433
})

filtered_data = data.dropna()

print(filtered_data)

Fehlende Daten müssen nicht immer gefiltert werden – oft ist es sinnvoller, diese durch 'passende' Werte zu ersetzen. Mit der Methode `fillna()` können fehlende Werte einfach aufgefüllt werden. Ein naheliegendes Beispiel wäre das Ersetzen aller fehlenden Werte durch '0'. Setzen Sie e) diese Methode in Ihrem Code um:

```Python
London       8615246.0
Paris        2273305.0
Zurich             0.0
Berlin       3562166.0
Stuttgart          0.0
Hamburg      1760433.0
dtype: float64
```

In [ ]:
data = pd.Series({
    "London": 8615246,
    "Paris": 2273305,
    "Zurich": None,
    "Berlin": 3562166,
    "Stuttgart": None,
    "Hamburg": 1760433
})

filled_data = data.fillna(0)

print(filled_data)

## Task 6
Ein DataFrame in Pandas besteht aus einem Zeilen- und Spaltenindex, der die Struktur der Daten definiert. Um mehrere Series-Objekte zu einem DataFrame zu kombinieren, bietet Pandas die Methode `concat()` an (siehe Dokumentation). Erstellen Sie in Aufgabe a) das DataFrame `shops_df`, indem Sie die drei Series-Objekte zusammenfügen. Das Ergebnis sollte im ersten Schritt wie folgt aussehen:

```Python
2014    2409.14
2015    2941.01
2016    3496.83
2017    3119.55
2014    1203.45
2015    3441.62
2016    3007.83
2017    3619.53
2014    3412.12
2015    3491.16
2016    3457.19
2017    1963.10
dtype: float64
```

In [8]:
#Die Jahre 2014, 2015, 2016 und 2017 erstellen, die als Index einer Series dienen:
years = range(2014, 2018)

shop1 = pd.Series([2409.14, 2941.01, 3496.83, 3119.55], years)
shop2 = pd.Series([1203.45, 3441.62, 3007.83, 3619.53], years)
shop3 = pd.Series([3412.12, 3491.16, 3457.19, 1963.10], years)

Das Ergebnis ist mehr oder weniger unbrauchbar. Der Grund: `concat` verwendet als Default-Wert für den *axis*-Paramter den Wert 0. Das bedeutet, es wird Zeile um Zeile (der jeweiligen *Series*) aneinandergefügt (vgl. NumPy-Einführung, Leserichtung bei 2D-Tensoren). Abhilfe schafft eine spaltenweise "Additiion" der einzelnen *Series'*. Die Umsetzung erfolgt mit dem Argument `axis=1` bei `concat`. Verwenden Sie b) das `axis=1`-Argument beim Zusammenfügen der *Series'*. Das Ergebnis:

```Python
            0        1        2
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10
```

In [ ]:
series1 = pd.Series([2409.14, 2941.01, 3496.83, 3119.55], index=[2014, 2015, 2016, 2017])
series2 = pd.Series([1203.45, 3441.62, 3007.83, 3619.53], index=[2014, 2015, 2016, 2017])
series3 = pd.Series([3412.12, 3491.16, 3457.19, 1963.10], index=[2014, 2015, 2016, 2017])

result = pd.concat([series1, series2, series3], axis=1)

result.columns = [0, 1, 2]

print(result)

Die bisher erzielte Darstellung der Daten ist deutlich übersichtlicher, allerdings sind die Spaltennamen noch nicht optimal. Ein DataFrame verfügt über das Property `columns`, mit dem die Spaltennamen einfach angepasst werden können. Dazu können Sie eine neue Liste mit Spaltennamen (z.B. die Liste `cities`) zuweisen. Setzen Sie in Aufgabe c) diese Anpassung um, indem Sie dem DataFrame `shops_df` die neuen Spaltenbezeichner zuweisen. Das Ergebnis sollte wie folgt aussehen:

```Python
         Wien     Graz  Salzburg
2014  2409.14  1203.45   3412.12
2015  2941.01  3441.62   3491.16
2016  3496.83  3007.83   3457.19
2017  3119.55  3619.53   1963.10
```

In [ ]:
series1 = pd.Series([2409.14, 2941.01, 3496.83, 3119.55], index=[2014, 2015, 2016, 2017])
series2 = pd.Series([1203.45, 3441.62, 3007.83, 3619.53], index=[2014, 2015, 2016, 2017])
series3 = pd.Series([3412.12, 3491.16, 3457.19, 1963.10], index=[2014, 2015, 2016, 2017])

shops_df = pd.concat([series1, series2, series3], axis=1)

cities = ["Wien", "Graz", "Salzburg"]

shops_df.columns = cities

print(shops_df)

Geben Sie d) die Inhalte der Spalte "Graz" aus und vergewissern Sie sich, ob die Spalte vom Typ *Series* ist.

In [ ]:
graz_column = shops_df["Graz"]
print(graz_column)
print(f"Ist 'Graz' eine Pandas Series? {isinstance(graz_column, pd.Series)}")